@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

:root {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-primary-1: #8e55bb;
  --clr-primary-2: #e9922d;
  --clr-text: #5d2b6f;
}

*,
::after,
::before,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-primary {
  background-color: var(--clr-primary-1);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  border-radius: 60px;
  border: none;
  display: inline-flex;
  padding: 17px 37px;
  justify-content: center;
  align-items: center;
  align-self: self-start;
  gap: 10px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #e4cdf6;
}

.btn-primary:active {
  background-color: #ffd500;
}

.btn-secondary {
  background-color: transparent;
  color: var(--clr-primary-1);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  border-radius: 60px;
  display: inline-flex;
  padding: 17px 37px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 4px solid var(--clr-primary-1);
  cursor: pointer;
}

.btn-secondary:hover {
  color: #ffd500;
  border: 4px solid #ffd500;
}

.btn-secondary:active {
  color: #ffd500;
  border: 4px solid #ffd500;
}
