@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

:root {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-primary-1: #8e55bb;
  --clr-primary-2: #e9922d;
  --clr-text: #5d2b6f;

  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-5xl: 3rem; /* 48px */

  --react-international-phone-country-selector-arrow-size: 8px;
  --react-international-phone-country-selector-arrow-color: var(
    --clr-primary-1
  );
}

*,
::after,
::before,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  /* border: 1px solid red; */
}
